
body {
    background-color: white;
}

.menu {
    color: orange;
}

.menu:hover {
    background-color: green
}

a:hover {
    background-color: green;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }